
@model IEnumerable<MemoApp.Models.MemoViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<table class="table" id="memo_table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AspNetUserId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Note)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.AspNetUserId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Note)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedAt)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UpdatedAt)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
                <td>
                    <a href="#" onclick="MemoDetails(@item.Id)">Details</a>
                    <a href="#" onclick="MemoEdit(@item.Id)">Edit</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<!-- Modal -->
<div class="modal fade" tabindex="-1" role="dialog" id="details-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="memoTitle"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="modalDiv">

            </div>
        </div>
    </div>
</div>


<script>
    var MemoDetails = function (memoId) {
        var url = "/Memo/detailspartial?id=" + memoId;

        $('#modalDiv').load(url, function () {
            $('#details-modal').modal("show");
        })
    }

    var MemoEdit = function (memoId) {
        var url = "/Memo/editpartial?id=" + memoId;

        $('#modalDiv').load(url, function () {
            $('#details-modal').modal("show");
        })
    }
</script>


